<a href="https://colab.research.google.com/github/dmish10/Scaler_Intermediate/blob/main/Intermediate_Functional_Programming2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

MAPS

In [13]:
a = [1,2,3,4,5]

In [14]:
#mapping
m=map(lambda x:x**2,a)

In [16]:
print(list(m))

[1, 4, 9, 16, 25]

In [12]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x:x**2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [18]:
numbers = [140,134,156,178,190,130,200,160]
size = list(map(lambda n:'S' if n<150 else 'M' if n>=150 and n<180 else 'L',numbers))
print(size)

['S', 'S', 'M', 'M', 'L', 'S', 'L', 'M']

In [19]:
r1= [1,2,3,4,5,6]
r2= [9,8,7,6,5,4]

In [20]:
#mapping 
m1 = list(map(lambda x,y: x+y,r1,r2))
print(m1)

[10, 10, 10, 10, 10, 10]

In [24]:
r1= [1,0,1,0,1,1,1,0,0]
r2= [0,0,0,1,0,1,0,1,1,1,2,3,1]
r3 = list(map(lambda x,y:x==y, r1,r2))
print(r3)
#python only runs till the length of the smallest iterable

[False, True, False, False, False, True, False, False, False]

FILTERS - function returns the iterator which generates the item that meets the condition

In [33]:
#to check for even values and create the output list with just even numbers

In [35]:
a= [1,2,3,4,5,6,7,8,9]
print(list(filter(lambda x:x%2==0,a)))

[2, 4, 6, 8]

REDUCE - function applied cummulatively to the elements of the iterable from left to right so as to reduce the iterable to a single value

In [36]:
from functools import reduce

In [38]:
lst= [1,2,3,4,5]
r = reduce(lambda x,y:x+y,lst)
print(r)

15

In [41]:
lst1= ["a",'b','c','d','e']
print(reduce(lambda x,y:x+y,lst1))

abcde

In [45]:
a = list(range(1,11))
b= list(reversed(a))
#b = a[::-1]

In [43]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
b

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [46]:
reduce(lambda x,y:x*y,a) == reduce(lambda x,y:x*y,b)

True

In [47]:
'''
Question-
write the function to print the max element in a list using reduce
'''

'\nQuestion-\nwrite the function to print the max element in a list using reduce\n'

In [50]:
from functools import reduce
print(reduce(lambda x,y:x if x>y else y,a))

10

ARGS and KWARGS - used as a way to pass a variable number of arguments to a function. *args allows a function to accept any number of positional arguments. It is used in the function definition as a parameter preceded by an asterisk (*). When calling the function, any number of positional arguments can be passed and they will be stored in a tuple inside the function.

In [51]:
def custom_sum(a,b):
  return a+b

In [52]:
custom_sum(4,5)

9

In [53]:
def custom_sum1(a,b,*args):
  print(a)
  print(b)
  print(args)

In [54]:
custom_sum1(5,6)

5
6
()

In [55]:
custom_sum1(5,6,3,4,4,5,6,7,2,3,9,8,6)

5
6
(3, 4, 4, 5, 6, 7, 2, 3, 9, 8, 6)

In [57]:
def custom_sum2(a,b,*args):
  return a +b + sum(args)

custom_sum2(3,4,5,6,7,8,9,10,20,34)

106

In [59]:
#args can be any variable name but asterisk is important before that variable name
#args consolidates all the extra positional arguments into a tuple

In [62]:
def create_person(name, age,gender):
  person={
      "name":name,
      "age":age,
      "gender":gender
  }
  return person

In [64]:
create_person("shikha",50,"female")

{'name': 'shikha', 'age': 50, 'gender': 'female'}

In [73]:
def create_person1(name, age,gender,**kwargs):
  # print(kwargs)
  person={
      "name":name,
      "age":age,
      "gender":gender
  }
  person.update(kwargs)
  return person

In [74]:
create_person1(name="shikha",age=50,gender="female",profile=["SWE","PRof"],education=["Btech","masters"])

{'name': 'shikha',
 'age': 50,
 'gender': 'female',
 'profile': ['SWE', 'PRof'],
 'education': ['Btech', 'masters']}

Kwargs consolidates extra keyworded arguments into a dictionary

In [75]:
def random(a,b,c,*args,**kwargs):
  print(a)
  print(b)
  print(c)
  print(args)
  print(kwargs)

In [77]:
random(5,4,6,7,8,9,10,x=99,y=19,z=67)

5
4
6
(7, 8, 9, 10)
{'x': 99, 'y': 19, 'z': 67}

In [4]:
def random1():
  return 100, 200, 300, 400, 500

In [5]:
x, y,*z = random1()

In [6]:
x

100

In [7]:
z

[300, 400, 500]

In [1]:
arr = ["php", "w3r", "python", "aaa", "java"]

In [2]:
list(filter(lambda word: word == word[::-1], arr))

['php', 'aaa']

In [5]:
# list( filter( lambda x: (Counter(str) == Counter(x)), arr)
list( filter( lambda x: (x =="".join( reversed(x))), arr))

['php', 'aaa']

In [1]:
column_names = ['name', 'salary', 'job']
db_rows = [('Alice', 180000, 'data scientist'),
           ('Bob', 99000, 'data engineer'),
           ('Frank', 87000, 'data analyst')]

db = [dict(zip(column_names,row)) for row in db_rows]
print(db)

[{'name': 'Alice', 'salary': 180000, 'job': 'data scientist'}, {'name': 'Bob', 'salary': 99000, 'job': 'data engineer'}, {'name': 'Frank', 'salary': 87000, 'job': 'data analyst'}]

In [2]:
sentence = "abc cde def"
result = list(map(lambda x: list(x), sentence.split(" ")))
print(result)

[['a', 'b', 'c'], ['c', 'd', 'e'], ['d', 'e', 'f']]

In [3]:
sentence = "abc cde def"
result = list(map(lambda x: x, sentence.split(" ")))
print(result)

['abc', 'cde', 'def']

In [8]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = [[9,8,7],[6,5,4],[3,2,1]]
ls11,ls12,ls13=list1
ls21,ls22,ls23=list2
# print(list(zip(ls11,ls12,ls13,ls21,ls22,ls23)))
print(list(zip(ls11,ls12,ls21)))

[(1, 4, 9), (2, 5, 8), (3, 6, 7)]

In [9]:
array  = [1, 2, 3, 4, 5]
def func1(x):
    return x<0
result=filter(func1, array)
print(list(result))

[]

In [10]:
array  = [1, 2, 3, 4, 5]
list(filter(lambda x:x<0, array))

[]

In [11]:
ids=["Sam@gmail.com", "Ram@gmail.com", "Sam@gmail.com", "samJohnson@iit.com", "SAM@harvard.com"]
name="sam"
result = list(filter(lambda x : name in x.lower() , ids))
print(result)

['Sam@gmail.com', 'Sam@gmail.com', 'samJohnson@iit.com', 'SAM@harvard.com']

In [9]:
ids=["Sam@gmail.com", "Ram@gmail.com", "Sam@gmail.com", "samJohnson@iit.com", "SAM@harvard.com"]
name="sam"
result = list(filter(lambda x : (name.lower() or name.upper()) in x , ids))
print(result)

['samJohnson@iit.com']

In [10]:
a=[1,[2,3],4,5]
result = lambda x: list(map(lambda y:2*y, x)) if isinstance(x,list) else lambda x:3*x
print(result(a))

[2, [2, 3, 2, 3], 8, 10]

In [12]:
names= ["A","B","C","D"]
grades= [1,2,3,4]

In [14]:
data= list(zip(names,grades)) #takes the elements and puts them in a tuple
data

[('A', 1), ('B', 2), ('C', 3), ('D', 4)]

In [18]:
email="shikha.mishra@gmail.com"

In [19]:
components = email.split("@")
components

['shikha.mishra', 'gmail.com']

In [20]:
len(components) ==2

True

In [24]:
print(list(map(lambda word:word if 1<=len(word)<=20 else None,components)))

['shikha.mishra', 'gmail.com']