<a href="https://colab.research.google.com/github/dmish10/Scaler_Intermediate/blob/main/Intermediate_OOPS2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Examples of dunders between __init__ and __del__

In [1]:
class Car:
  def __init__(self,name,mileage):
    self.name= name
    self.mileage = mileage

In [2]:
c1 = Car("nexon", 12)
c2 = Car("ciaz",15)

In [3]:
c1.name

'nexon'

In [4]:
#but what if we want to get name -->mileage details together
class Car:
  def __init__(self,name,mileage):
    self.name = name
    self.mileage = mileage

  def __str__(self):
    return f"{self.name} --> {self.mileage}"

In [6]:
c1 = Car("nexon", 12)
c2 = Car("ciaz",15)

In [7]:
print(c1)

nexon --> 12

In [8]:
{3,4} + {5,7}

TypeError: ignored

In [9]:
'''The curly braces {} in Python are used to create sets. A set is an unordered collection of unique elements. In the example, {3, 4} and {5, 7} are sets containing the elements 3, 4 and 5, 7 respectively.

On the other hand, curly braces {} are also used to create empty dictionaries in python. But when you use it with comma separated elements inside, Python will consider it as a set.

The + operator is used to concatenate sets together, resulting in a new set that contains all the elements from both sets. In the example, {3, 4} + {5, 7} is not a valid operation, you should use union operator | or the method union() to concatenate sets.

'''

'The curly braces {} in Python are used to create sets. A set is an unordered collection of unique elements. In the example, {3, 4} and {5, 7} are sets containing the elements 3, 4 and 5, 7 respectively.\n\nOn the other hand, curly braces {} are also used to create empty dictionaries in python. But when you use it with comma separated elements inside, Python will consider it as a set.\n\nThe + operator is used to concatenate sets together, resulting in a new set that contains all the elements from both sets. In the example, {3, 4} + {5, 7} is not a valid operation, you should use union operator | or the method union() to concatenate sets.\n\n'

In [30]:
#what if we want to add the objects c1 & c2
class Car:
  def __init__(self,name,mileage):
    self.name = name
    self.mileage = mileage

  def __str__(self):
    return f"{self.name} --> {self.mileage}"

  # def __add__(self, other):
  #   return self.name + other.name

  def __add__(self,other1):
    return self.mileage + other1.mileage
#sent the two objects c1 & c2 as arguments - one as self and other as other

  def __call__(self):
    return "i just got called!"

In [32]:
c1 = Car("nexon", 12)
c2 = Car("ciaz",15)

In [29]:
c1 + c2 
#internally its getting called as Car.__add__(c1,c2)

27

In [25]:
Car.__add__(c1,c2)

27

In [34]:
c1() #__call__ dunder gets invoked

'i just got called!'

In [35]:
class BankAccount:
  def __init__(self,initial_balance):
    self.balance =initial_balance
  
  def deposit(self,amount):
    self.balance += amount

  def withdraw(self,amount):
    self.balance -= amount

In [36]:
b1 =BankAccount(10000)

In [37]:
b1.balance

10000

In [40]:
b1.deposit(5000)

In [41]:
b1.balance

15000

In [42]:
b1.withdraw(7000)

In [43]:
b1.balance

8000

In [44]:
#but we can also change the property 'balance' of the object 'b1' since its public
b1.balance = 12345678990

In [45]:
b1.balance

12345678990

In [46]:
#in order to avoid this, we have to make the property private. a private property is not accessible by the object of the class 
#but it can be accessed by functions defined within the body of the class so only accessible within class definition
#in below code, we want to modify the balance using deposit and withdraw functions but do not want property'balance' to be accessed directly by object 'b1'
#so we make balance private by adding double underscores infront.

In [61]:
class BankAccount:
  def __init__(self,initial_balance):
    self.__balance =initial_balance #balance is now a private property
  
  #setter functions
  def deposit(self,amount):
    self.__balance += amount

  def withdraw(self,amount):
    self.__balance -= amount

  #getter function
  def show_balance(self):
    return self.__balance

In [62]:
b2= BankAccount(100000)

In [50]:
b2.__balance #doesn't allow b2 (object) to access since balance is private

SyntaxError: ignored

In [63]:
b2.show_balance(). #created another custom function to show the private property balance using object

100000

In [67]:
#however if b2.__balance was called inside the class as in using print function,python would allow to print the balance but not allowed out side the class

In [64]:
#so how private works is when python was asked to make balance private by creating '__balance' variable it instead created '_BankAccount__balance' to 
#avoid being accessed directly, so when we try to access '_BankAccount__balance' it shows the balance.

In [66]:
b2._BankAccount__balance  #name mangling in python

100000

In [68]:
#since 'b2._BankAccount__balance' is how python creates the variable internally so this variable also modifiable. in case, the class names of a systems 
#are not kept confidential, the system can be hacked as shown below

In [69]:
b2._BankAccount__balance =123455667788990076543322553

In [70]:
b2.show_balance()

123455667788990076543322553

In [71]:
dir(b2) #dir displays all the variables, dunders and custom functions defined or available for this object

['_BankAccount__balance',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'deposit',
 'show_balance',
 'withdraw']

INHERITANCE

In [75]:
class SchoolMember:  #parent 
  def __init__(self, name):
    self.name= name

class Student(SchoolMember): #child of SchoolMember, name inherited from parent but roll no its own property
  def __init__(self,name,roll_no):
    self.roll_no =roll_no

class Staff(SchoolMember): #child of SchoolMember , name has been inherited from parent but salary is its own property
  def __init__(self,name, salary):
    self.salary = salary

class Teacher(Staff): #child of Staff, name,salary have been inherited from parent but deptt is its own property
  def __init__(self, name, salary, deptt):
    self.deptt = deptt

In [76]:
t1 = Teacher("Shikha", 10000, "Data Science")

In [77]:
t1.deptt

'Data Science'

In [80]:
#but if i ask for name & salary it will throw error since the parent class variables haven't been initialised

In [79]:
t1.name

AttributeError: ignored

In [81]:
#so to initialise the parent class we call the init function of the parent class as shown below

In [98]:
class SchoolMember:  #parent 
  def __init__(self, name):
    self.name= name


class Student(SchoolMember): #child of SchoolMember
  def __init__(self,name,roll_no):
    self.roll_no =roll_no

    SchoolMember.__init__(self, name) #calling init function of parent class to initialise for parent variables.
    #super().__init__(name) 

class Staff(SchoolMember): #child of SchoolMember 
  def __init__(self,name, salary):
    self.salary = salary

    SchoolMember.__init__(self,name)
    #super().__init__(name)

class Teacher(Staff): #child of Staff, name,salary have been inherited from parent but deptt is its own property
  def __init__(self, name, salary, deptt):
    self.deptt = deptt

    # Staff.__init__(self,name,salary)
    super().__init__(name, salary) #super allows to refer to the immediate parent class (staff in this case) & self is not necessary to mention

In [99]:
t2= Teacher("Ayesha",90000, "journogiri")

In [101]:
t2.name

'Ayesha'

MULTIPLE INHERITANCES

In [21]:
class Father:
  def __init__(self,x):
    self.x = x
class Mother:
  def __init__(self,y):
    self.y = y

class Child(Mother,Father):
  def __init__(self,x,y,z):
    self.z = z

    #super will not work; super() method is to initialize the x and y attributes inherited from the Father and Mother class.
    #throw TypeError: __init__() takes 2 positional arguments but 3 were given when Child funtion is invoked as Child(5,6,7)
    #so we use the parent name to call the object
    
    # Father.__init__(self,x)
    # Mother.__init__(self,y)
    
    #but super does work when the attributes initialised separately
    super().__init__(x)
    super().__init__(y)

In [23]:
C2= Child(5,6,7)

In [24]:
C2.z

7

In [15]:
class Father:
  def __init__(self,x):
    self.x = x
class Mother:
  def __init__(self,y):
    self.y = y

class Child(Mother,Father):
  def __init__(self,x,y,z):
    self.z = z

    # super().__init__(x,y)  
    #super will not work with x & y together; super() method is to initialize the x and y attributes inherited from the Father and Mother class.
    #throw TypeError: __init__() takes 2 positional arguments but 3 were given when Child funtion is invoked as Child(5,6,7)
    #so we use the parent name to call the object
    
    Father.__init__(self,x)
    Mother.__init__(self,y)

In [17]:
c1= Child(5,6,7)

In [18]:
c1.x

5

In [19]:
c1.y

6

In [20]:
c1.z

7

DIAMOND INHERITANCE

In [26]:
class A:
  pass

class B(A):
  pass

class C(B):
  x=10

class D(A):
  x=5

class E(C,D):
  pass

In [30]:
e= E()

In [31]:
e.x

10

In [32]:
'''The value of x for an object e of class E would be 10, as it inherits from class C which has a value of x equal to 10. 
The value of x from class D is not inherited by class E as class C is listed before class D in the inheritance list for class E.'''

'The value of x for an object e of class E would be 10, as it inherits from class C which has a value of x equal to 10. \nThe value of x from class D is not inherited by class E as class C is listed before class D in the inheritance list for class E.'

In [45]:
'''Method Resolution Order'''

'Method Resolution Order'

In [46]:
E.__mro__

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

In [51]:
#here the order of inheritane for class E involves class C >> class D and even class B >> class D 
#therefore the value of x is 10

In [36]:
class A:
  pass

class B(A):
  x=10

class C(B):
  pass

class D(A):
  x=5

class E(C,D):
  pass

In [37]:
e1= E()

In [38]:
e1.x

10

In [50]:
E.__mro__ #class B comes first than class D so it inherits first from C then B and then D

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

In [39]:
'''The value of x for an object of class E would be 10, as it first inherits from class C which in turn inherits from class B which has a value of x equal to 10. 
The value of x from class D is not inherited by class E as class C is listed before class D in the inheritance list for class E'''

'The value of x for an object of class E would be 10, as it first inherits from class C which in turn inherits from class B which has a value of x equal to 10. \nThe value of x from class D is not inherited by class E as class C is listed before class D in the inheritance list for class E'

In [40]:
class A:
  x=10

class B(A):
  pass

class C(B):
  pass

class D(A):
  x=5

class E(C,D):
  pass

In [41]:
e2= E()

In [42]:
e2.x

5

In [43]:
'''The value of x for an object of class E will be 5, as the order of inheritance for class E is C and then D, so it will first look for the value of x in class C and since it is not defined there, it will then look in class D which has a value of x equal to 5. 
And the value of x from class A is not inherited by class E as the order of inheritance of class E is C,D.'''

'The value of x for an object of class E will be 5, as the order of inheritance for class E is C and then D, so it will first look for the value of x in class C and since it is not defined there, it will then look in class D which has a value of x equal to 5. \nAnd the value of x from class A is not inherited by class E as the order of inheritance of class E is C,D.'

In [52]:
#questions

In [3]:
class Smaller:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is smaller")
    
    def evaluate(self):
        vowels= "aeiouAEIOU"
        ans=0
        if (len(self.string))< 6:
            for char in self.string:
                if char in vowels:
                    ans+=1
        
        # YOUR CODE GOES HERE
        print(ans)
        
class Larger:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is larger")
    
    def evaluate(self):
        vowels= "aeiouAEIOU"
        ans=0
        if (len(self.string))>= 6:
            for char in self.string:
                if char not in vowels:
                    ans+=1
        
        # YOUR CODE GOES HERE
        print(ans)

def main(a):
    '''
    input a is string
    '''
    if len(a)<6:
        obj=Smaller(a)
        obj.display()
        obj.evaluate()
    else:
        obj=Larger(a)
        obj.display()
        obj.evaluate()

In [7]:

    
class Smaller:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is smaller")
    
    def evaluate(self):
        vowels= "aeiouAEIOU"
        ans=0
        if (len(self.string))< 6:
            for char in self.string:
                if char in vowels:
                    ans+=1
        
        # YOUR CODE GOES HERE
        print(ans)
        
class Larger:
    def __init__(self,a):
        self.string=a
    
    def display(self):
        print("The type of Name is larger")
    
    def evaluate(self):
        vowels= "aeiouAEIOU"
        ans=0
        if (len(self.string)) >= 6:
            for char in self.string:
                if char not in vowels:
                    ans+=1
        
        # YOUR CODE GOES HERE
        print(ans)

def main(a):
    '''
    input a is string
    '''
    if len(a)<6:
        obj=Smaller(a)
        obj.display()
        obj.evaluate()
    else:
        obj=Larger(a)
        obj.display()
        obj.evaluate()

In [8]:
main("aman")

The type of Name is smaller
2

In [9]:
class solution:
  def initial(self,sets):
    return self.final(sets)
 
  def final(self, sets):
    return list(map(lambda x: ((x**3)%2==0,x**3),sets))

print(solution().initial([4,5,6]))

[(True, 64), (False, 125), (True, 216)]

In [10]:
class Student:
    def __init__(self,roll,marks):
        self.roll = roll
        self.marks = marks
    def display(self):
        print('Roll:', self.roll,'Marks:',self.marks, end=" ")

student1 = Student(34,'A')
student1.age = 17
print(student1.display(), 'Age:',student1.age)

Roll: 34 Marks: A None Age: 17

In [6]:
class MachineLearning:
    def __init__(self,name,category):
        self.name=name
        self.category=category
        
    def getname(self):
        return self.name
        
    def getcategory(self):
        return self.category
        
    def print(self):
        print("Name:",self.name)
        print("Category:",self.category)

class Supervised(MachineLearning):
    def __init__(self,name,category):
        #YOUR CODE GOES HERE
        MachineLearning.__init__(self, name, category)
        # super().__init__(name,category)

    
    def type(self):
        self.print()
        #YOUR CODE GOES HERE
        print("Supervised Learning Algorithm")
        # print(type(self).__name__)

class Unsupervised(MachineLearning):
    def __init__(self,name,category):
        #YOUR CODE GOES HERE
        MachineLearning.__init__(self, name, category)
        # super().__init__(name,category)
    
    def type(self):
        #YOUR CODE GOES HERE
        self.print()
        print("Unsupervised Learning Algorithm")
        # print(type(self).__name__)

def mlAnalogy(a,b,c,d):
    '''
    input=> a,b = name and category for Supervised class
            c,d = name and category for Unsupervised class
    output=> type() is called for both classes in the end, it should first print the Name and Category then the type of class in new lines
    '''

    obj1=Supervised(a,b)
    obj1.type()
    # obj1.print()
    obj2=Unsupervised(c,d)
    obj2.type()
    # obj2.print()
    

    return None

a = input("Enter the name of the Supervised class: ")
b = input("Enter the category of the Supervised class: ")
c = input("Enter the name of the Unsupervised class: ")
d = input("Enter the category of the Unsupervised class: ")

mlAnalogy(a,b,c,d)

Enter the name of the Supervised class: LR
Enter the category of the Supervised class: classifier
Enter the name of the Unsupervised class: k means
Enter the category of the Unsupervised class: clustering
Supervised Learning Algorithm
Name: LR
Category: classifier
Unsupervised Learning Algorithm
Name: k means
Category: clustering

In [7]:
class Circle:
    pi = 3.14
    def __init__(self, diameter):
        self.radius = diameter / 2

    def circumference(self):
        return 2 * self.pi * self.radius

In [11]:
p1= Circle(12)

In [14]:
p1.circumference()

37.68

In [15]:
class football:
    final_res= 'lose'
    def __init__(self,name,score):
        self.name = name
        self.score = score
        self.final_res = 'lose'
    
    def calc(self, winning_score):
        if self.score>winning_score:
            self.final_res='win'

In [16]:
match = football('Juventus',3)
match.calc(2)
print(football.final_res, match.final_res)

lose win

In [25]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

In [26]:
s1= Student("emma",12)
s1.subject_name= "Machine Learning"

In [27]:
print(s1.name, s1.roll_no, s1.subject_name)

emma 12 Machine Learning